
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AutLayoutcshtml.cshtml";
}

<h1>ForgetPassword</h1>
@model FogetPaswordViewModel


<form asp-action="ForgetPassword" method="post">
        <div asp-validation-summary="All"></div>
        <input type="email" asp-for="Email" class="form-control" placeholder="email" required />
        <span asp-validation-for="Email"></span>
        <br />
        <input type="submit" class="btn btn-primary " value="reset"/>
        </form>
