
@{
    ViewData["Title"] = "SignUP";
    Layout = "~/Views/Shared/_AutLayoutcshtml.cshtml";
}
@model SignUpViewModel


<form asp-action="SignUP" method="post">
    <div asp-validation-summary="All"></div>
    <input type="text" asp-for="FirstName" class="form-control" placeholder="fristName" required />
    <span asp-validation-for="FirstName"></span>
    <br />

    <input type="text" asp-for="LastName" placeholder="LastName" required class="form-control" />
    <span asp-validation-for="LastName"></span>
    <br />

    <input type="text" asp-for="Email" placeholder="email" required class="form-control" />
    <span asp-validation-for="Email"></span>
    <br />

    <input type="password" asp-for="Password" placeholder="Password" required class="form-control" />
    <span asp-validation-for="Password"></span>
    <br />

    <input type="password" asp-for="ConfirmPasword" placeholder="ConfirmPasword" required class="form-control" />
    <span asp-validation-for="ConfirmPasword"></span>
    <br />

    <div class="te">
        <label>
            <input asp-for="IsAgree" type="checkbox" required />
            <span>I Agree to Thems & condition </span>
        </label>
        <div class="clear"></div>
    </div>
    <input type="submit" value="SignUP" class="btn btn-primary" />
</form>
<p>Do You Have Acount?<a asp-action="Login">Login Now</a> </p>

