################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Company.Web/FileContentIndex/2542faff-1a02-4682-aacf-a0843c479d06.vsidx
