
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ApplicationUser
<h1 class="p-2">Update User</h1>

<form asp-action="Update">
    <div class="form-group">
        <label class="col-form-label" asp-for="Id"></label>
        <input class="form-control" asp-for="Id" type="text" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" type="text" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName" type="text" />
    </div>
   
    <div class="form-group m-2">
        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-light" asp-controller="User" asp-action="Index">Back To List</a>

    </div>
</form>

