@model string

<td>
    <a class="btn btn-info"  asp-action="Detalis" asp-route-Id="@Model">Details</a>
</td>
<td>
    <a class="btn btn-light"  asp-action="Update" asp-route-Id="@Model">Update</a>
</td>
<td>
    <a class="btn btn-warning"  asp-action="Delete" asp-route-Id="@Model">Dlete</a>

</td>